* {
    margin: 0px;
    padding: 0px;
    font-family: arial;
    outline: none;
}

.app {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #121212;
}

.app>.container {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-top: 50px;
    background-color: white;
    width: 30%;
    height: 50%;
}

.title {
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
}

.inputGroup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px;
    width: 80%;
    height: 25%;
}

.input {
    border: 2px solid #ccc;
    width: calc( 40% - 5px);
    height: 35px;
    padding-left: 5px;
}

.input:hover {
    border: 2px solid #2e6dff;
    transition: 0.1s all;
}

.input:focus {
    border: 2px solid #2e6dff;
}

.inputGroup>.errorContainer {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-top: 10px;
    width: 60%;
    height: 40%;
    background-color: #ff3333;
}

.closeable-c {
    display: flex;
    justify-content: left;
    width: 100%;
    height: auto;
}

.closeable {
    cursor: pointer;
    margin-left: 5px;
    color: white;
}

.closeable:hover{
    color: black;
    transition: 0.5s all;
}

.buttonGroup {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10%;
}

.text {
    text-align: center;
    width: 85%;
    color: white;
    font-weight: bold;
}

.button {
    color: white;
    font-weight: bolder;
    border: 2px solid transparent;
    background-color: #24292e;
    width: 25%;
    height: 40px;
}

.button:hover {
    cursor: pointer;
    background-color: white;
    color: black;
    border: 2px solid #1ed760;
    transition: 0.1s all;
}

/* Estilos para resultados */

.results {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    width: 50%;
    height: 20%;
}

.results>.result {
    width: 50%;
    height: 70%;
    background-color: #1ed760;
}

.closeable-r {
    margin: 5px;
    color: white;
}

.text-r {
    width: 100%;
    height: calc(100% - 26px);
    line-height: 109px;
}